*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

}

section{
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-color: gray;

}